@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* bg colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #273437;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #44b9f0;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

.resolucion {
    width: 99%;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #fffb00ee;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.logo img {
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    width: 60px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    background-color: #ffb01e;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
    font-size: 2em;
}

.img {
    width: 260px;
    height: 350px;
    margin-left: 115px;
    margin-bottom: 35px;
    margin-top: 35px;
    align-items: center;
}

.content {
    display: flex;
}

.text h1 {
    display: flex;
    color: var(--text-black);
    gap: 1rem;
    align-self: center;
    width: 50%;
    text-align: center;
    font-size: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.content a {
    background-color: var(--primary);
    color: var(--text-white);
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 40px;
    color: var(--text-black);
    margin-top: 100px;
    font-weight: 100;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.856);
}

.container .card img {
    width: 330px;
    height: 220px;
}

.container .card h4 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.about-content {
    display: flex;
    padding: 20px;
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    padding-top: 1rem;
    text-align: center;
    position: absolute;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #ffb01e;   
}
.container-body {
    display: flex;
    justify-content: space-between;
}

.colum1 {
    max-width: 400px;
}

.colum1 h1 {
    font-size: 16px;
}

.colum1 p {
    font-size: 16px;
    color: #02050e;
    margin-top: 20px;
}

.colum2 {
    max-width: 400px;
}

.colum2 h1 {
    font-size: 16px;   
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
}

.colum3 {
    max-width: 400px;
}

.colum3 h1 {
    font-size: 16px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px; 
}


.copyright {
    color: black;
    
}
.information a {
    color: black;
}


/** Movil **/
@media (max-width: 1200px){ 
    
    .text {
        align-items: center;
        width: calc(100% - 1rem);
    }
    .content h1 {
        text-align: center;
        font-size: 2rem;
    }
}

/** Tablet **/
@media (max-width: 1200px) {
    .content .text{
        display: flex;
    }
    .movil {
        display: flex;
    }
}



